.level {
  padding-bottom: 32px;
  &__container {
  }

  &__title {
    max-width: 880px;
  }

  //   &__wrapper {
  //     width: 1600px;
  //     overflow: auto;
  //   }
  &__body {
    display: flex;
    gap: 20px;
    //  overflow: auto;
    //  min-width: 1500px;
    //  padding-right: 20px;
  }

  &__item {
    border-radius: 12px;
    padding: 32px 64px;
    width: 530px;
    max-width: 530px;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    &_purple {
      background: radial-gradient(
        154.17% 102.78% at 26.07% -12.47%,
        rgb(225, 213, 235) 0%,
        rgb(208, 195, 235) 86.00000143051147%,
        rgb(205, 192, 235) 100%
      );
      .level__label {
        background: rgba(245, 247, 250, 0.2);
      }
    }
    &_green {
      background: radial-gradient(
        130.78% 87.18% at 8.62% 4.12%,
        rgb(178, 234, 194) 0%,
        rgb(197, 244, 213) 50%,
        rgb(187, 237, 210) 99.00000095367432%,
        rgb(185, 235, 208) 100%
      );
      .level__label {
        background: rgba(245, 247, 250, 0.2);
      }
    }
    &_blue {
      background: radial-gradient(
        130.78% 87.18% at 8.62% 4.12%,
        rgb(182, 215, 255) 0%,
        rgb(179, 211, 255) 50%,
        rgb(170, 199, 255) 99.00000095367432%,
        rgb(170, 199, 255) 100%
      );
      .level__label {
        background: rgba(245, 247, 250, 0.2);
      }
    }
    @media (max-width: $tablet) {
      width: 320px;
      height: 490px;
    }
  }

  &__label {
    border-radius: 6px;
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 30px;
  }

  &__name {
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    font-family: $bold;
    margin-bottom: 30px;
    @media (max-width: $tablet) {
      font-size: 22px;
    }
  }
  &__content {
    flex: 1 1 auto;
  }

  &__link {
    max-width: 130px;
    margin: 0 auto;
  }

  &__icon {
    @media (max-width: $tablet) {
      img {
        width: 100%;
      }
    }
  }
}

.slider__wrapper {
  display: flex;
}
.level__wrapper {
  position: relative;
}
.swiper-scrollbar {
  background: #f7f6f4; /* Цвет фона полосы прокрутки */
  border-radius: 10px; /* Радиус скругления углов полосы прокрутки */
  height: 4px; /* Высота полосы прокрутки */
  min-width: 100%;
  position: absolute;
  bottom: -60px;
  left: 0;
  @media (max-width: $tablet) {
    bottom: -32px;
  }
}

.swiper-scrollbar-drag {
  background: $brown; /* Цвет ползунка полосы прокрутки */
  border-radius: 4px; /* Радиус скругления углов ползунка */
  height: 100%; /* Высота ползунка */
}
