.currency-table {
  width: 100%;
  margin: 50px auto;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 12px;
  //   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.currency-table th,
.currency-table td {
  //   border: 1px solid #ddd;
  padding: 40px 64px;
  text-align: left;
}

.currency-table th {
  background-color: $darklight;
  font-weight: 400;
  font-size: 24px;
}
.currency-table th:first-child {
  border-radius: 12px 0 0 0;
}
.currency-table th:last-child {
  border-radius: 0 12px 0 0;
}
.currency-table tr:last-child td:last-child {
  border-radius: 0 0 12px 0;
}
.currency-table tr:last-child td:first-child {
  border-radius: 0 0 0 12px;
}
.currency-table td {
  background-color: $light;
}
